@charset 'utf-8';

body {
	background-color: #F5F6FB;
}
.big-photo {
	width: 1440px;
	margin:  0 auto;
}
.info-wrap {
	background-color: #FFFFFF;
	padding: 50px 20px;
}
.info-wrap  div{
	padding: 0px 15px;
}
.we-title h2{
	color: #F74A66;
	padding: 6px 3px 12px 0;
}
.we-item h2{
	color: #F74A66;
	padding: 36px 3px 20px 0;
}
.we-title p{
	text-indent: 2em;
	color: #333;
	font-size: 15px;
	padding: 3px 0;
}
.we-item dd{
	padding-bottom: 30px;
}
.we-item dt,dd{
	color: #333;
	font-size: 15px;
	padding: 3px 0;
}